*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

} 

main{
  display:grid;
    grid-template-columns: .5fr .3fr .5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "one two three"
    "four five six" ;
}
img{
  padding-top: 3%;
  max-width: 100%;
}
#git{
  grid-area: one;
}
#bash{
  grid-area: four

}
#github{
  grid-area: three;

}
  #cemy{
    grid-area: six;
}
